{% extends 'admin/base_site.html' %}
{% load i18n l10n %}

{% load admin_urls %}

{% block content %}
    <div class="container_export_data">
        <form action="" method="post">{% csrf_token %}
            <div id="form_select_fields">
                {{ form }}
            </div>
            {% if with_preview %}
            <input type="submit" value="{% trans "Export" %}" />

            <table>
                <thead>
                    <tr>
                        {% for column in column_titles %}
                            {% if not forloop.first %}
                                <th>{{ column|capfirst }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for obj in data_to_export %}
                        <tr>
                            {% for field in obj %}

                                {% if forloop.first %}
                                    <td style="display: none">
                                        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ field|unlocalize }}" />
                                    </td>
                                {% else %}
                                    <td>
                                        {{ field }}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
                {% for obj in data_to_export %}
                    {% for field in obj %}
                        {% if forloop.first %}
                                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ field|unlocalize }}" />
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            {% endif %}
            <input type="hidden" name="action" value="export" />
            <input type="hidden" name="post" value="yes" />
            <input type="submit" value="{% trans "Export" %}" />
        </form>
    </div>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        #form_select_fields ul li{
            float: left;
            margin-right: 20px;
            width: 200px;
        }

        #form_select_fields{
            width: 100%;
            display: inline-block;
        }

        .container_export_data form table{
            margin-top: 40px;
            margin-bottom: 40px;
        }

    </style>
{% endblock %}